@import 'scss/variables';

body {
  padding: 0px;
  margin: 0px;
  background-color: #EEEEEE;
  font-family: Arial,Helvetica,Verdana,sans-serif;
}
.content-width {
  position: relative;
  width: $main-width;
}
.content-center {
  display: flex;
  justify-content: center;
}
.items-result {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 50px;
}
.categories {
  padding: 16px 0px;
  font-size: 13px;
  color: #999999;
  ul {
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      padding-right: 5px;
      &:last-child {
        color: #666666;
        font-weight: bold;
      }
    }
  }
}